<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KZŽ</title>
    <link rel="icon" type="image/x-icon" href="~/favicon-zara.png">
    <environment include="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/css/material.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/Chart.js/Chart.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }


        .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
            transition: .5s ease-out;
            color: #009244 !important;
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05);
        }

        .navbar-brand:hover {
            color: #009244 !important;
            transition: .5s ease-out;
            color: #009244 !important;
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="~/images/test-lud.png" alt="Logo KZZ" width="40px;" height="40px;">
                </a>
                <a class="navbar-brand" asp-area="" style="color:#0000159e; font-size:20px;" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Početna</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="LocalGovernments" asp-action="Index"><i class="fab fa-firstdraft"></i> Prostorne jedinice</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  dropright" href="#" id="navbarDropDownMenuLinkPopulation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-users"></i> Stanovništvo
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLinkPopulation">
                                <h6 class="dropdown-header">Prometna infrastruktura</h6>
                                <a class="dropdown-item " asp-controller="NaturalChangePopulation" asp-action="Index"><i class="fas fa-chart-line"></i>&nbsp;Prirodni prirast</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="SpatialPlanDocuments" asp-action="Index"><i class="far fa-map"></i> Prostorni Planovi</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  dropright" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-road"></i> Infrastrukturni podaci
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <h6 class="dropdown-header">Prometna infrastruktura</h6>
                                <a class="dropdown-item " asp-controller="Roads" asp-action="Index"><i class="fas fa-road"></i>&nbsp;Cestovni promet</a>
                                <a class="dropdown-item " asp-controller="Railroads" asp-action="Index"><i class="fas fa-train"></i>&nbsp;Željeznički promet</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  dropright" href="#" id="documentsDropDownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-archive"></i> Dokumentacija
                            </a>
                            <div class="dropdown-menu" aria-labelledby="documentsDropDownLink">
                                <h6 class="dropdown-header">ZARA</h6>
                                <a class="dropdown-item " asp-controller="DocumentsZara" asp-action="OfficialDocuments"><i class="far fa-file-pdf"></i>&nbsp;Strateško planiranje</a>
                            </div>
                            <div class="dropdown-menu" aria-labelledby="documentsDropDownLink">
                                <h6 class="dropdown-header">Prometna infrastruktura</h6>
                                <a class="dropdown-item " asp-controller="Roads" asp-action="Index"><i class="fas fa-road"></i>&nbsp;Cestovni promet</a>
                                <a class="dropdown-item " asp-controller="Railroads" asp-action="Index"><i class="fas fa-train"></i>&nbsp;Željeznički promet</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Maps" asp-action="Index"><i class="fas fa-globe-americas"></i> Geoportal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    <main role="main">
        @RenderBody()
    </main>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/coreui/coreui.min.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/lib/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
