<div class="modal fade" id="loaderModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" style="display:none;" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i> Obrađujemo...</p>
            </div>
        </div>
    </div>
</div>
