@using ZAVOD_KZZ.Core.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />
<div class="container">

    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
            <div class="row">
                <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1 edit-administration-form">
                    <h1 class="m-0">404</h1>
                    <h6>Došlo je do greške</h6>
                </div>
            </div>
        </div>
    </div>
</div>

