*.css linguist-detectable=false
*.html linguist-detectable=false
*.htm inguist-detectable=false
*.cshtml inguist-detectable=false
*.html linguist-vendored
*.htm linguist-vendored
*.cshtml linguist-vendored
