<style>

    .zoom:hover {
        cursor: pointer;
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
    }

    .zoom {
        transition: transform .2s;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .image-overlay {
        transition: .5s ease;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 600;
        color: white;
        text-shadow: 5px 5px 10px black;
    }

    .image {
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .container-hover:hover .image {
        opacity: 0.3;
    }

    .container-hover:hover .middle {
        opacity: 1;
    }

    .container-hover:hover .image-overlay {
        opacity: 0;
    }

    .text {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }

    .jumbo-image {
        height: 400px;
        background: url("/images/jumobtron.png") center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .ol-control button {
        margin: 2px !important;
        color: #009244 !important;
        font-size: 1.4em !important;
        height: 1.475em !important;
        width: 1.475em !important;
        background-color: rgb(255, 254, 254) !important;
    }

        .ol-control button:focus, .ol-control button:hover {
            text-decoration: none;
            background-color: white !important;
        }

    .jumbotron-text {
        color: white;
        text-shadow: 5px 5px 10px black;
    }

    .card {
        margin-bottom: 0px !important;
    }
</style>

<div class="container">
    <div class="jumbotron jumbo-image">
        <div class="container jumbotron-text text-center">
            <h5 class="display-4" style="font-size:2.2rem;"><span id="displayId">Registar prostornih podataka Krapinsko - zagorske županije</span></h5>
            <hr style="border-top: 1px solid rgb(255, 255, 255) !important" />
            <p class="lead">Pregled statističkih podataka po JLS</p>
            <p class="lead">Pregled prostorno planske dokumentacije</p>
            <p class="lead">Pregled stanja infrastrukture</p>
            <p class="lead">Interaktivni kartografski prikaz prostornih podataka</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 zoom">
            <div class="card container-hover">
                <img class="bd-placeholder-img bd-placeholder-img-lg card-img image" width="100%" height="270" src="~/images/web_gis_1.png" />
                <div class="card-img-overlay image-overlay">
                    <h3 class="card-title lead text-center"><i class="fas fa-layer-group fa-3x"></i></h3>
                    <h6 class="card-title text-center" style="font-size:1.45em;">WEB GIS</h6>
                </div>
                <div class="middle">
                    <a type="button" class="btn btn-outline-dark lead mb-1" asp-controller="Maps" asp-action="Index"><i class="fas fa-info"></i>&nbsp;&nbsp;Klikni za više</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 zoom">
            <div class="card container-hover">
                <div class="card">
                    <img src="~/images/infrastructure.png" class="bd-placeholder-img bd-placeholder-img-lg card-img image" width="100%" height="270" alt="INFRASTRUKTURA">
                    <div class="card-img-overlay image-overlay">
                        <h3 class="card-title lead text-center"><i class="fas fa-road fa-3x"></i></h3>
                        <h6 class="card-title text-center" style="font-size:1.2em; width:170px; margin-left:-19px;">INFRASTRUKTURA</h6>
                    </div>
                    <div class="middle">
                        <a type="button" class="btn btn-outline-dark lead mb-1" asp-controller="Infrastructure" asp-action="Index"><i class="fas fa-info"></i>&nbsp;&nbsp;Klikni za više</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 zoom">
            <div class="card container-hover">
                <div class="card">
                    <img src="~/images/spatial_plans.png" class="bd-placeholder-img bd-placeholder-img-lg card-img image" width="100%" height="270" alt="PLANOVI">
                    <div class="card-img-overlay image-overlay">
                        <h3 class="card-title lead text-center"><i class="far fa-map fa-3x"></i></h3>
                        <h6 class="card-title text-center" style="font-size:1.65em;">PLANOVI</h6>
                    </div>
                    <div class="middle">
                        <a type="button" class="btn btn-outline-dark lead" asp-controller="SpatialPlanDocuments" asp-action="Index"><i class="fas fa-info"></i>&nbsp;&nbsp;Klikni za više</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 zoom">
            <div class="card container-hover">
                <img class="bd-placeholder-img bd-placeholder-img-lg card-img image" width="100%" height="270" src="~/images/graph-layout.png" />
                <div class="card-img-overlay image-overlay">
                    <h3 class="card-title lead text-center"><i class="fas fa-users fa-3x"></i></h3>
                    <h6 class="card-title text-center" style="font-size:1.35em; width:170px; margin-left:-19px;">STANOVNIŠTVO</h6>
                </div>
                <div class="middle">
                    <a type="button" class="btn btn-outline-dark lead mb-1" asp-controller="Population" asp-action="Index"><i class="fas fa-info"></i>&nbsp;&nbsp;Klikni za više</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 zoom">
            <div class="card container-hover">
                <img class="bd-placeholder-img bd-placeholder-img-lg card-img image" width="100%" height="270" src="~/images/documents.jpg" />
                <div class="card-img-overlay image-overlay">
                    <h3 class="card-title lead text-center"><i class="far fa-file-pdf fa-3x"></i></h3>
                    <h6 class="card-title text-center" style="font-size:1.35em; width:170px; margin-left:-19px;">DOKUMENTI</h6>
                </div>
                <div class="middle">
                    <a type="button" class="btn btn-outline-dark lead mb-1" asp-controller="Documents" asp-action="Index"><i class="fas fa-info"></i>&nbsp;&nbsp;Klikni za više</a>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@latest/lib/typed.min.js"></script>
<script>
    new Typed('#displayId', {
        strings: ['Registar prostornih podataka Krapinsko - zagorske županije'],
        typeSpeed: 100,
        loop: true,
        fadeOut: true,
        backDelay: 2100,
        startDelay: 1000,
        backSpeed: 100
    });
</script>

