@{
    ViewData["Title"] = "Politika podataka";
}

    <div class="container">
        <br />
        <h1>Privatnost podataka i "kolačići"</h1>
        <hr />
        <div class="alert alert-light" role="alert">
            <h4 class="alert-heading">Kolačići (cookies)</h4>
            <p>Kolačići (cookies) su male datoteke koje Vaš preglednik sprema na disk prilikom posjete naše Internet stranice. To omogućuje našoj web stranici da prepozna Vaše računalo kada nas sljedeći put posjetite, kako bi vam sukladno tome ponudili personalizirano iskustvo prilikom vašeg surfanja. Kolačići nisu usmjereni na špijuniranje korisnika i ne slijede sve što korisnik radi te nisu zlonamjerni kod ili virus. Također kolačići nisu povezani s neželjenim porukama ili spamom, ne mogu spremiti lozinku i nisu namijenjeni isključivo za reklame ili oglašavanje. Informacije poput Vašeg imena ili e-mail adrese neće biti spremljene - web stranice ne mogu pristupiti vašim osobnim informacijama i datotekama na Vašem računalu.</p>
            <hr>
        </div>
    </div>
<
