
    <div class="modal fade" id="plannedRoadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titlePlannedRoad"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div  margin-right: 10px;">
                        <p class="lead text-center">Osnovni opis</p>
                        <hr />
                        <p class="text-muted">Oznaka ceste:<span id="codePlannedRoad" class="float-right"></span></p>
                        <p class="text-muted">Opis:&nbsp;&nbsp;<span id="descriptionPlannedRoad" style="font-size:13px;"></span></p>

                        <hr />
                        <p class="mb-1 lead text-center">Podaci o duljini i širini ceste</p>
                        <hr />
                        <p class="text-muted">Planirana duljina:<span id="plannedLength" class="float-right"></span></p>
                        <p class="text-muted">Širina koridora:<span id="plannedRoadCoridor" class="float-right"></span></p>
                        <p class="text-muted">Planirana širina ceste:<span id="plannedRoadWidth" class="float-right"></span></p>
                        <p class="mb-1 lead text-center">Dodatni podaci:</p>
                        <hr />
                        <p class="text-muted">Napomena:<span id="plannedRoadRemark" class="float-right"></span></p>
                        <p class="text-muted">Izvor:<span id="sourcePlannedRoad" class="float-right"></span></p>
                        <p class="text-muted">Karta (izvor):<span id="plannedRoadMap" class="float-right"></span></p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>