
<div class="modal fade" id="railroadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleRailroad"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div margin-right: 10px;">
                    <p class="lead text-center">Osnovni opis</p>
                    <hr />
                    <p class="text-muted">Oznaka željeznice:<span id="codeRailroad" class="float-right"></span></p>
                    <p class="text-muted">Kategorija željeznice:<span id="railroadCategory" class="float-right"></span></p>
                    <hr />
                    <p class="text-muted">Opis:&nbsp;&nbsp;<span id="descriptionRailroad" style="font-size:13px; text-decoration: underline;"></span></p>
                    <p class="text-muted">Skraćeni naziv:&nbsp;&nbsp;<span id="descriptionShort" style="font-size:13px; text-decoration: underline;"></span></p>
                    <br />
                    <p class="mb-1 lead text-center">Podaci o duljini željeznice</p>
                    <hr />
                    <p class="text-muted">Duljina po NN:<span id="officialLength" class="float-right"></span></p>
                    <p class="text-muted">Ukupna duljina:<span id="countyLength" class="float-right"></span></p>
                    <p class="text-muted">Širina koridora:<span id="railroadCoridor" class="float-right"></span></p>
                    <p class="mb-1 lead text-center">Dodatni podaci:</p>
                    <hr />
                    <p class="text-muted">Napomena:&nbsp;&nbsp;<span id="railroadRemark" style="font-size:13px;"></span></p>
                    <p class="text-muted">Odluka:&nbsp;&nbsp;<span id="railroadDocument" style="font-size:13px;"></span></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
</div>